.git/

# for WebStorm
.idea/

# for npm
node_modules/
npm-shrinkwrap.json

# for grunt
typings/
.tscache/

# codes
test/
test-tmp/
test-repository/
test-cli/
test-typings/

# misc
example/
.gitignore
.editorconfig
circle.yml
setup.sh
Gruntfile.js
tslint.json

npm-debug.log
